/*font family*/
html {
    font-family: "Times New Roman",serif, sans-serif;
}
body {
/*
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    background-color: #444;
    text-align: center;
}



h1,h2,h3 {
    color: #ffffff;
    line-height: 1rem;
    font-style: italic;
}

h2 {
    font-size: 30px;
    font-style: normal;
}

.formatting {
    font-size: 25px;
    line-height:2em;
    color:white;
}

a {
    text-decoration: none;
    font-size:20px;
    color:yellow;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.borderImg {
    border: 10px dashed red;
}

/*descendant: every single list item that in unorderlist*/

ul li {
    color:blue;
    font-size:20px;
}

/*child selector: Any list item that is child of unorderlist , but only 1 level deep*/
ul > li {
    color:yellow;
}
