.jumbotron {
    text-align: center;
    background: none;
/*    why no longer need display block , text align still work*/
}

.sectionLight {
    background-color: #eceeef;
    padding: 2em;
}

.sectionDark {
    background-color: #cccccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background-color: red;
    color: #ffffff;
    /*    to make the button center, display block and set margin to auto*/
    display: block;
    margin:auto;
}

h5.modal-title {
/*    set margin auto make the content center*/
    display: block;
     margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin:auto;
    
}

.btnCenter {
    display:block;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 70%;
}

.footerImg {
    padding: 10px;
}