body {
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    
}

h1,h2,h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    line-height: 1rem;
    font-family: sans-serif;
}

.borderImg {
    border: 10px dashed red;
}

/*descendant: every single list item that in unorderlist*/

ul li {
    color:blue;
    font-size:20px;
}

/*child selector: Any list item that is child of unorderlist , but only 1 level deep*/
ul > li {
    color:yellow;
}
