h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
}

h2 {
    color: rgb(0,204,255);
    text-shadow: 1px 1px 3px darkblue;
}

.borderImg {
    border: 10px dashed red;
}

/*descendant: every single list item that in unorderlist*/

ul li {
    color:blue;
    font-size:20px;
}

/*child selector: Any list item that is child of unorderlist , but only 1 level deep*/
ul > li {
    color:yellow;
}